/Datastore/features/*
!/Datastore/features/
!/Datastore/features/.gitkeep

/Datastore/labels/*
!/Datastore/labels/
!/Datastore/labels/.gitkeep

/Datastore/processed_datasets/*
!/Datastore/processed_datasets/
!/Datastore/processed_datasets/.gitkeep

/Datastore/raw_captures/*
!/Datastore/raw_captures/
!/Datastore/raw_captures/.gitkeep

.env
/src/captures
src/captures
src/__pycache__
/EDA notebooks/traffic_plots/*
